# bash
.bash_history
.local

# Language: Python
.coverage
.cache
.ipython
.mypy_cache
.pdbhistory
.python_history

# MacOS
.DS_Store

# enviroment
.env
.env.local
venv/

# codeship
*.aes

# PyCharm editor settings
.idea
__pycache__

# Visual Studio Code
/.vscode/
/.vscode-server/
/.gitconfig
